body {
    background: white;
    color: black;
    font-family: sans-serif; /* TODO: change font to 8-bit */
}

.controller {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 80px;
}

button {
    width: 60px;
    height: 60px;
    font-size: 20px;
    background: white;
    color: black;
    border: 2px solid #555;
    border-radius: 8px;
    cursor: pointer;
}

button:active {
    background: #b1b1b1;
}

.dpad {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(3, 60px);
    gap: 5px;
}

.dpad button:nth-child(1) { grid-column: 2; }
.dpad button:nth-child(2) { grid-column: 1; grid-row: 2; }
.dpad button:nth-child(3) { grid-column: 3; grid-row: 2; }
.dpad button:nth-child(4) { grid-column: 2; grid-row: 3; }

.buttons {
    display: flex;
    gap: 20px;
}

.minus {
    width: 80px;
}
